@use "../../styles/base" as *;

.score-breakdown {
  padding: 32px 32px 40px;
  row-gap: 32px;

  &--main {
    row-gap: 24px;
  }

  &--core {
    row-gap: 12px;
  }
}

.summary-label {
  font-size: 18px;
  font-weight: 800;
  color: rgba($color--black, 0.75);
}

button {
  $height: 48px;

  height: $height;
  border: none;
  border-radius: calc($height / 2);
  font-family: inherit;
  cursor: pointer;

  color: $color--white;
  background-color: $color--dark-gray-blue;

  &:hover {
    background: $bg-gradient--main;
  }
}

@media (max-width: $mqb--max-width-small-tablet) {
  .score-breakdown {
    row-gap: 24px;

    &--core {
      row-gap: 16px;
    }
  }

  button {
    $mobile-height: 56px;

    height: $mobile-height;
    border-radius: calc($mobile-height / 2);
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: $mqb--max-width-mobile) {
  .score-breakdown {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
