@use "../../../styles/abstract" as *;

.score-display {
  padding: 12px 12px;
  border-radius: 8px;
  position: relative;

  &__label {
    column-gap: 10px;

    label {
      font-weight: 700;
    }
  }

  $variation-colors: (
    "reaction": $color--reaction-primary,
    "memory": $color--memory-primary,
    "verbal": $color--verbal-primary,
    "visual": $color--visual-primary,
  );

  @each $var, $color in $variation-colors {
    &-#{$var} {
      background-color: rgba($color, 0.05);
      color: rgba($color, 0.8);

      .corner {
        border-color: rgba($color, 0.1);
      }
    }
  }
}

.category-score-ctn {
  font-weight: 800;
  column-gap: 8px;

  .category-score {
    color: rgba($color--black, 0.75);
  }

  .category-max-score {
    color: rgba($color--black, 0.4);
  }
}

$border-length: 10px;
$border-width: 2px;
$border-offset: 1px;
$border-radius: 8px;

$x-axis-pos: "left", "right";
$y-axis-pos: "top", "bottom";

.corner {
  position: absolute;
  width: $border-length;
  height: $border-length;

  // each corner is made with a position: absolute square, and the corner edges are made by adding styles to the
  // relevant edges of that square, for example:
  //   - for bottom-right corner, add border-bottom-right-radius and border-style: solid to bottom and right edges of bottom-right square
  //   - for top-left corner, add border-top-left-radius and border-style: solid to top and left edges of top-left square, and etc
  @each $y in $y-axis-pos {
    @each $x in $x-axis-pos {
      &.#{$y}-#{$x} {
        border-#{$y}-#{$x}-radius: $border-radius;

        @each $pos in $x, $y {
          #{$pos}: -$border-offset;
          border-#{$pos}-width: $border-width;
          border-#{$pos}-style: solid;
        }
      }
    }
  }
}

@media (max-width: $mqb--max-width-mobile) {
  .score-display {
    padding: 18px 16px;
  }

  .corner {
    $border-length--mobile: 12px;
    width: $border-length--mobile;
    height: $border-length--mobile;
  }
}
