/* Component CSS */

.summary-ctn {
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  box-shadow: 10px 16px 20px 0px hsl(221, 100%, 96%),
    0px 0px 12px 0px hsl(0 0% 97%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

$bg-gradient-color-1: hsl(252, 100%, 67%);
$bg-gradient-color-2: hsl(241, 81%, 54%);
$bg-gradient: linear-gradient($bg-gradient-color-1 -40%, $bg-gradient-color-2);

.score-display {
  padding: 12px 12px;
  border-radius: 8px;
  position: relative;

  &--label {
    column-gap: 10px;

    span {
      font-weight: 700;
    }
  }

  &-reaction {
    background-color: hsla(0, 100%, 67%, 0.05);
    color: hsl(0, 100%, 67%);

    .corner {
      border-color: hsla(0, 100%, 67%, 0.1);
    }
  }

  &-memory {
    background-color: hsla(39, 100%, 56%, 0.05);
    color: hsl(39, 100%, 56%);

    .corner {
      border-color: hsla(39, 100%, 56%, 0.1);
    }
  }

  &-verbal {
    background-color: hsla(166, 100%, 37%, 0.05);
    color: hsl(166, 100%, 37%);

    .corner {
      border-color: hsla(166, 100%, 37%, 0.1);
    }
  }

  &-visual {
    background-color: hsla(234, 85%, 45%, 0.05);
    color: hsl(234, 85%, 45%);

    .corner {
      border-color: hsla(234, 85%, 45%, 0.1);
    }
  }

  .cat-score-ctn {
    font-weight: 800;
    column-gap: 8px;

    .cat-score {
      color: black;
    }

    .cat-max-score {
      color: hsl(0deg 0% 0% / 40%);
    }
  }

  $border-length: 10px;
  $border-width: 2px;
  $border-offset: 1px;
  $border-radius: 8px;

  .corner {
    position: absolute;
    width: $border-length;
    height: $border-length;

    &__top-left {
      border-top-left-radius: $border-radius;
    }

    &__top-right {
      border-top-right-radius: $border-radius;
    }

    &__bot-left {
      border-bottom-left-radius: $border-radius;
    }

    &__bot-right {
      border-bottom-right-radius: $border-radius;
    }
  }

  .top {
    top: -$border-offset;
    border-top-width: $border-width;
    border-top-style: solid;
  }

  .bot {
    bottom: -$border-offset;
    border-bottom-width: $border-width;
    border-bottom-style: solid;
  }

  .left {
    left: -$border-offset;
    border-left-width: $border-width;
    border-left-style: solid;
  }

  .right {
    right: -$border-offset;
    border-right-width: $border-width;
    border-right-style: solid;
  }
}

.text__white {
  color: hsl(0, 0%, 100%);
}

@media (max-width: 520px) {
  .summary-ctn {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .summary-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    box-shadow: none;
    border-radius: 0px;
  }

  .score-display {
    padding: 18px 16px;
  }
}
