/* Variables */

// media query breakpoints
$mqb--max-width-desktop: 1440px;
$mqb--max-width-small-tablet: 520px;
$mqb--max-width-mobile: 425px;

$bg-gradient--main: linear-gradient(
  hsl(252, 100%, 67%) -40%,
  hsl(241, 81%, 54%)
);
$bg-gradient--circle: linear-gradient(
  hsla(256, 72%, 46%, 1),
  hsla(241, 72%, 46%, 0)
);

$color--reaction-primary: hsl(0, 100%, 67%);
$color--memory-primary: hsl(39, 100%, 56%);
$color--verbal-primary: hsl(166, 100%, 37%);
$color--visual-primary: hsl(234, 85%, 45%);

$color--white: hsl(0, 0%, 100%);
$color--black: hsl(0, 0%, 0%);
$color--pale-blue: hsl(221, 100%, 96%);
$color--light-lavender: hsl(241, 100%, 89%);
$color--dark-gray-blue: hsl(224, 30%, 27%);

/* Reset + Defaults */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
}

.app {
  min-height: 100dvh;
  font-family: "HankenGrotesk";
}

.text__white {
  color: $color--white;
}

/* Fonts */

@font-face {
  font-family: "HankenGrotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}

/* App */

.summary-ctn {
  background-color: $color--white;
  border-radius: 32px;
  box-shadow: 10px 16px 20px 0px $color--pale-blue,
    0px 4px 16px 0px rgba($color--pale-blue, 97%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: $mqb--max-width-small-tablet) {
  .summary-ctn {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $mqb--max-width-mobile) {
  .summary-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    box-shadow: none;
    border-radius: 0px;
  }
}
